<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/user/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/user/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/dashboard">Saved Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
        
      </ul>
    </div>
</nav>
{{>messages}}

<div class="jumbotron text-center">
  <h1 class="display-4">News Scrapping</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacingdf;hadjkfhkj to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg " href="/user/dashboard" role="button">Dashboard</a>       
</div>
<div id="saved-news" class="container">
 {{#each data}}
                 
<div class="card text-center">
  
  <div class="card-body" >
  <h5 class="card-title" ><a href="https://www.newyorker.com/{{URL}}">{{Headline}}</a></h5>
  <p class="card-text"  >{{Summary}}</p>
    {{!-- <a  id="save-btn" href="" class="btn btn-primary newsCard" data-id="{{_id}}" >Save Article</a> --}}
    <button id="save-btn" class="btn btn-primary newsCard" type="button"  data-id="{{_id}}" >Save Article</button>
  </div>
 
</div>

 {{/each}}
 </div>